# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments (highly recommended to ignore)
venv/
.venv/
env/
ENV/


# IDE / Editor configurations
.vscode/
.idea/

# Environment variables / Secrets (never commit these!)
.env